<section id="about" class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24" aria-label="About me">
    <div class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0">
        <h2 class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only">À propos</h2>
    </div>
    <div>
        <p class="mb-4">
            Il y a maintenant plus de 10 ans, j'entrais en fac de médecine ou ... j'ai commencé à développer mes premiers programmes.<br>
            Un an plus tard, j'entamais un cursus de 5 ans jusqu'à l'obtention de mon
            <a class="text-amber-500">Mastère en Ingénierie du Web</a>.
        </p>
        <p class="mb-4">
            Avec plus de 6 ans d'expérience professionnelle, je suis spécialisé dans le <a class="text-amber-500">développement web</a> et <a class="text-amber-500">la gestion d'équipes</a>.
            Chez Les Grappes, ma mission consistait à mettre en œuvre des solutions technologiques avancées comme <a class="text-amber-500">Elasticsearch</a> et des <a class="text-amber-500">API REST</a>. 
            Ma passion pour la technologie et l'innovation s'aligne avec la culture de Les Grappes, 
            et je suis engagé à apporter des perspectives diversifiées et une expertise approfondie à l'équipe.
        </p>
        <p class="mb-4">
             Chez Les Grappes, j'ai dirigé la transformation numérique en implémentant <a class="text-amber-500">Elasticsearch</a> et en refondant le système de recherche, ce qui a optimisé les performances et l'expérience utilisateur du site. 
             J'ai également été responsable de la maintenance et de l'évolution des applications, en plus de l'APIsation de service de Magento, démontrant mes compétences en <a class="text-amber-500">PHP</a> et <a class="text-amber-500">MySQL</a> et ma capacité à gérer et former une équipe de développeurs juniors.
        </p>
    </div>
</section>
