<section id="about" class="mb-8 scroll-mt-16 md:mb-24 lg:mb-26 lg:scroll-mt-24" aria-label="About me">
    <div class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0">
        <h2 class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only">À propos</h2>
    </div>
    <div>
        <p>
            Développeur Web avec 6 ans d’expérience, j’ai notamment consolidé mon expertise chez
            <a class="text-amber-500">Les Grappes</a> en concevant des architectures
            <a class="text-amber-500">back-end</a> et <a class="text-amber-500">e-commerce</a> robustes.
            Convaincu que l’avenir du web réside dans la donnée, j’ai enrichi mes compétences en
            <a class="text-amber-500">Data Science</a> et <a class="text-amber-500">IA</a> pour intégrer
            des fonctionnalités intelligentes directement au cœur des applications web.
            Mon objectif est de mettre cette double compétence au profit de produits web innovants,
            performants et centrés sur la donnée.
        </p>
    </div>
</section>
