<section id="about" class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24" aria-label="About me">
	<div class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0">
		<h2 class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only">À propos</h2>
	</div>
	<div>
		<p class="mb-4">
			Il y a maintenant plus de 10 ans, j'entrais en fac de médecine ou ... j'ai commencé à développer mes premiers programmes.<br>
			Un ans plus tard, j'entamais un cursus de 5 ans jusqu'a l'obtention de mon
			<a class="text-amber-500">Mastère en Ingénierie du Web</a>.
		</p>
		<p class="mb-4">
			D'abord intéressé par le développement de logiciels, je me suis rapidement réorienter vers le
			<a class="text-amber-500">Développement Web</a>
			ainsi que la
			<a class="text-amber-500">Gestion de projet</a>.
		</p>
		<p class="mb-4">
			Je contribue aujourd'hui avec mon équipe à l'évolution du site développer en
			<a class="text-amber-500">PHP</a>
			avec l'utilisation du
			<a class="text-amber-500">CMS Magento</a>
			mais également au developpement d'une
			<a class="text-amber-500">API</a>
			sous le framework
			<a class="text-amber-500">Phalcon PHP</a>.
		</p>
		<p class="mb-4">
			<a class="text-amber-500">Mes principaux objectifs</a>
			ces jours-ci sont de me former à la suite
			<a class="text-amber-500">ELK</a>
			(Elasticsearch, Logstash et Kibana) et monter en compétence sur le framework
			<a class="text-amber-500">Symfony</a>.
		</p>
	</div>
</section>
