{% apply inky_to_html %}

{% block content %}
    Author: {{ contact.name }}<br />
    Email: {{ contact.email }}<br />

    <p>
        {{ contact.message | nl2br }}
    </p>
{% endblock %}
{% endapply %}